<!-- certificados section -->
<section class="certificados" id="h_certificados">
    <div id="certificados-info">
        <h2 class="heading"><strong><i>Certificados</i></strong></h2>
    </div>
    <div class="formacion_list row">
        <div class="formacion_list_item col-sm-3" *ngFor="let certificado of certifi">
            <img class="formacion_list_img column_img d-block w-100" src="{{certificado.imgCertificate}}" alt="">
            <h3 class="formacion_list_title column_title" id="columna_1">{{certificado.titleCertificate}}</h3>
            <p class="formacion_list_text">{{certificado.obtainedCertificate}}</p>
        </div>
        <!--<div class="formacion_list_item col-sm-3">
            <img class="formacion_list_img column_img" [src]="miPortfolio.certificates.certificate01.img"
                class="d-block w-100" alt="Oracle - ONE" title="Oracle - ONE">
            <h3 class="formacion_list_title column_title" id="columna_1">{{miPortfolio.certificates.certificate01.title}}</h3>
            <p class="formacion_list_text">{{miPortfolio.certificates.certificate01.obtained}}</p>
        </div>
        <div class="formacion_list_item col-sm-3">
            <img class="formacion_list_img column_img" class="d-block w-100"
                [src]="miPortfolio.certificates.certificate02.img" alt="Argentina Programa" title="Argentina Programa">
            <h3 class="formacion_list_title column_title" id="columna_1">
                {{miPortfolio.certificates.certificate02.title}}</h3>
            <p class="formacion_list_text">{{miPortfolio.certificates.certificate02.obtained}}</p>
        </div>
        <div class="formacion_list_item col-sm-3">
            <img class="formacion_list_img column_img" class="d-block w-100"
                [src]="miPortfolio.certificates.certificate03.img" alt="ConoSur Tech" title="ConoSur Tech">
            <h3 class="formacion_list_title column_title" id="columna_1">
                {{miPortfolio.certificates.certificate03.title}}</h3>
            <p class="formacion_list_text">{{miPortfolio.certificates.certificate03.obtained}}</p>
        </div>
        <div class="formacion_list_item col-sm-3">
            <img class="formacion_list_img column_img" [src]="miPortfolio.certificates.certificate04.img"
                alt="i2T Soluciones Informáticas" title="i2T Soluciones Informáticas">
            <h3 class="formacion_list_title column_title" id="columna_1">
                {{miPortfolio.certificates.certificate04.title}}</h3>
            <p class="formacion_list_text">{{miPortfolio.certificates.certificate04.obtained}}</p>
        </div>
        <div class="formacion_list_item col-sm-3">
            <img class="formacion_list_img column_img" [src]="miPortfolio.certificates.certificate05.img"
                alt="E.E.T. N° 322" title="E.E.T. N° 322">
            <h3 class="formacion_list_title column_title" id="columna_1">
                {{miPortfolio.certificates.certificate05.title}}</h3>
            <p class="formacion_list_text">{{miPortfolio.certificates.certificate05.obtained}}</p>
        </div>-->
    </div>
</section>