<!-- conocimientos section -->
<section class="conocimientos-section" id="conocimientos-section">
    <h2 class="heading"><strong><i>Conocimientos Informáticos</i></strong></h2>


    <!--<div *ngFor="let conocimientosinformatico of conocimientosinformaticos">
        {{conocimientosinformatico.titleComSki}}
        <img src="{{conocimientosinformatico.imgComSki}}" alt="">
    </div>-->


    <!-- 4 columnas -->
    <div class="row">
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column01.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column01.img" class="d-block w-100"
                alt="Spring Boot" title="Spring Boot">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column02.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column02.img" class="d-block w-100" alt="NetBeans"
                title="NetBeans">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column03.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column03.img" class="d-block w-100" alt="Java"
                title="Java">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column04.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column04.img" class="d-block w-100" alt="MySQL"
                title="MySQL">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column05.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column05.img" class="d-block w-100" alt="Angular"
                title="Angular">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column06.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column06.img" class="d-block w-100"
                alt="Typescript" title="Typescript">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column07.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column07.img" class="d-block w-100"
                alt="JavaScript" title="JavaScript">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column08.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column08.img" class="d-block w-100" alt="CSS"
                title="CSS">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column09.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column09.img" class="d-block w-100" alt="HTML"
                title="HTML">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column10.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column10.img" class="d-block w-100" alt="GitHub"
                title="GitHub">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column11.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column11.img" class="d-block w-100" alt="Git"
                title="Git">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column12.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column12.img" class="d-block w-100" alt="Ruby"
                title="Ruby">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column13.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column13.img" class="d-block w-100"
                alt="Gobstones" title="Gobstones">
        </div>
        <div class="col-sm-3">
            <h3 class="column_title" id="columna_1">{{miPortfolio.computerskills.column14.title}}</h3>
            <img class="column_img" [src]="miPortfolio.computerskills.column14.img" class="d-block w-100" alt="Delphi 5"
                title="Delphi 5">
        </div>
    </div>
</section>