<!-- habilidades section -->
<section class="habilidades" id="habilidades">
    <h2 class="heading"><strong><i>Habilidades Blandas</i></strong></h2>
    <div class="row">
        <div class="col-sm-6">
            <ul class="habilidades-columna-1">
                <li>Nivel De Inglés de lectura y de escritura B1.</li>
                <hr>
                <li>Gran capacidad y habilidad de adaptación.</li>
                <hr>
                <li>Rapidez en el tipeo.</li>
                <hr>
                <li>Capacidad de liderazgo y organización de equipo de trabajo.</li>
                <hr>
                <li>Gran habilidad de organización del tiempo.</li>
                <hr>
                <li>Soy una persona paciente, tanto para resolver problemas como para mantener una conversación con otros integrantes del equipo de trabajo.</li>
                <hr>
                <li>Tengo amplio conocimiento y un muy diestro manejo de gran amplitud de redes sociales como:
                    <ul>
                        <li>GitHub</li>
                        <hr>
                        <li>LinkedIn</li>
                        <hr>
                        <li>Instagram</li>
                        <hr>
                        <li>Telegram</li>
                        <hr>
                        <li>WhatsApp</li>
                        <hr>
                        <li>Facebook</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="habilidades-columna-2">
                <li>Formación Business Agility De Oracle.
                    <ul>
                        <li>Fundamentos.</li>
                        <hr>
                        <li>El Hambiente Ágil.</li>
                        <hr>
                        <li>Organizando Equipos Ágiles.</li>
                    </ul>
                </li>
                <hr>
                <li>Formación Desarrollo Personal De Oracle:
                    <ul>
                        <li>Soft Skills.</li>
                        <hr>
                        <li>Foco.</li>
                        <hr>
                        <li>Hábitos.</li>
                        <hr>
                        <li>Productividad.</li>
                        <hr>
                        <li>Hábitos De Liderazgo.</li>
                        <hr>
                        <li>LinkedIn.</li>
                        <hr>
                    </ul>
                </li>
                <li>Formación Emprendimiento De Oracle:
                    <ul>
                        <li>Lean Startup.</li>
                        <hr>
                        <li>Emprendimiento.</li>
                        <hr>
                        <li>Ciclo De Vida Del Producto.</li>
                        <hr>
                        <li>Pitch Para Entrevistas.</li>
                        <hr>
                        <li>Business Model Canvas.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>