<!-- project section -->
<section class="project-section" id="project-section">
    <h2 class="heading">Mis Proyectos</h2>
    <div class="project-container">
        <div class="project-card proyecto_5">
            <img [src]="miPortfolio.projects.project05.img" class="project-img" alt="Quinto Proyecto">
            <div class="project-content">
                <h3 class="project-title">{{miPortfolio.projects.project05.title}}</h3>
                <p class="project-info">
                    {{miPortfolio.projects.project05.text}}
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github"><a href="https://github.com/PaulaLemStaFe/Portafolio_OOA"
                            target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project05.btn01text}}</a></button>
                    <button class="project-btn live"><a href="https://paulalemstafe.github.io/Portafolio_OOA/"
                            target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project05.btn02text}}</a></button>
                </div>
            </div>
        </div>
        <div class="project-card">
            <img [src]="miPortfolio.projects.project04.img" class="project-img" alt="Cuarto Proyecto">
            <div class="project-content">
                <h3 class="project-title">{{miPortfolio.projects.project04.title}}</h3>
                <p class="project-info">
                    {{miPortfolio.projects.project04.text}}
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github"><a
                            href="https://github.com/PaulaLemStaFe/Segundo-Challenge-Ahorcado" target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project04.btn01text}}</a></button>
                    <button class="project-btn live"><a
                            href="https://paulalemstafe.github.io/Segundo-Challenge-Ahorcado/" target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project04.btn02text}}</a></button>
                </div>
            </div>
        </div>
        <div class="project-card proyecto_3">
            <img [src]="miPortfolio.projects.project03.img" class="project-img" alt="Tercer Proyecto">
            <div class="project-content">
                <h3 class="project-title">{{miPortfolio.projects.project03.title}}</h3>
                <p class="project-info">
                    {{miPortfolio.projects.project03.text}}
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github"><a
                            href="https://github.com/PaulaLemStaFe/Primer-Challenge-Encriptador" target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project03.btn01text}}</a></button>
                    <button class="project-btn live"><a
                            href="https://paulalemstafe.github.io/Primer-Challenge-Encriptador/" target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project03.btn02text}}</a></button>
                </div>
            </div>
        </div>
        <div class="project-card">
            <img [src]="miPortfolio.projects.project02.img" class="project-img" alt="Segundo Proyecto">
            <div class="project-content">
                <h3 class="project-title">{{miPortfolio.projects.project02.title}}</h3>
                <p class="project-info">
                    {{miPortfolio.projects.project02.text}}
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github"><a href="https://github.com/PaulaLemStaFe/Mi_Portfolio_AP_Base"
                            target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project02.btn01text}}</a></button>
                    <button class="project-btn live"><a href="https://paulalemstafe.github.io/Mi_Portfolio_AP_Base/"
                            target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project02.btn02text}}</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="project-card">
        <img src="https://raw.githubusercontent.com/PaulaLemStaFe/PortfolioWebFullStack/master/02-Front-End-Angular/PortfolioWebFullStack/src/assets/img/proyectos/project-1.png" class="project-img" alt="Primer Proyecto">
        <div class="project-content">
            <h1 class="project-title">Primer Proyecto</h1>
            <p class="project-info">
                Tesis Final De Secundaria. Como pasé varios años por fuera del ambiente informático, no he realizado grandes proyectosen estos años desde que terminé mis estudios secundarios. Mi primer gran proyecto (el cual realicé con la ayuda de dos compañeros) fue el de realizar un Sistema Informático para un puesto en el Mercado de Abasto de mi localidad, el cual consistía en controlar todo lo relacionado a las compras y ventas (realizando las altas y bajas de los productos a través de una base de datos), también emisión de comprobantes (lo que sería la emisión de Boletas A), y en donde había una base de datos que contenía toda la información relacionada a los clientes y otra relacionada a los proveedores. Lamentablemente, con el paso de los años se ha perdido la información digital de este proyecto pero cuento en mi poder con el Manual de Usuario (como se acostumbraba a realizar en esos años) del proyectos con mayores detalles de lo realizado en este gran proyecto.
            </p>
        </div>
    </div>
</section>