<!-- aprendizajes seccion -->
<section class="conocimientos" id="otros_conocimientos">
        <div id="otrosconocimientos">
          <h2 class="heading"><strong><i>Aprendizajes De Vida</i></strong></h2>
          <p><strong>Muchos al leer esta sección se preguntarán: ¿A qué se referirá con Aprendizajes De Vida? Bueno, pues... No todo es trabajo y código y programación.</strong></p>
          <p><strong>En mis pocos años de vida (aún me siento joven), he acumulado más experiencias fuera de un ambiente laboral que en un trabajo formal en sí. ¿Por qué es esto?</strong></p>
          <p><strong>Bueno porque las actividades extracurriculares que he tenido en mi vida me han ayudado a, por ejemplo:</strong></p>
          <p><strong>Desarrollar habilidades artesanales (cuando hacía patín artístico de pre adolescente, realizaba los bordados artesanales en mis respectivos trajes).</strong></p>
          <p><strong>Desarrollar las habilidades de trabajo en equipo y coordinación de un grupo de personas (cuando hacía ciclo turismo realizábamos viajes en grupo de personas de una gran variedad de personalidades que muchísimas veces era muy difícil la convivencia en esos viajes).</strong></p>
          <p><strong>Desarrollar habilidades de adaptación a la situación y capacidad de ser auto suficiente (pasando tantos años sin la posibilidad de poder acceder a un trabajo, he podido desarrollar mi capacidad para pensar en qué hacer para poder tener mi sustento y poder salir adelante en momentos económicos de mucha crisis personal como nacional y hasta podría decir mundial).</strong></p>
          <p><strong>No sé si estas vivencias o experiencias de vida logran sumar o restar en este portfolio, pero yo estoy orgullosa de todo lo que he logrado en el transcurso de mi vida. Aún con todas las trabas y piedras y montañas con las que me he encontrado en mi camino.</strong></p>
        </div>
</section>