/* ------ SECTION'S ------ */
section {
    align-items: center;
    background: url(https://raw.githubusercontent.com/PaulaLemStaFe/PortfolioWebFullStack/master/02-Front-End-Angular/PortfolioWebFullStack/src/assets/img/grain.png) repeat;
    display: flex;
    width: 100%;
}

/* ------ OHER KNOWS SECTION ------ */
.conocimientos {
    background-color: #78bbbb;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-radius: 3%;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    font-size: 1.8em;
    margin: 0 auto;
    padding-bottom: 80px;
    top: 0;
    z-index: 999;
}

.conocimientos .heading {
    font-size: 1.8em;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
}

#otrosconocimientos p {
    font-size: 0.7em;
    margin-bottom: 10px;
    margin: 0% 3%;
    text-align: justify;
}



@media screen and (max-width: 960px) {
    .conocimientos .heading {
        font-size: 1.3em;
    }
    #otrosconocimientos p {
        font-size: 0.5em;
        padding: 10px;
    }
}