<!-- header -->
<header>
    <aside class="izquierda">
        <!-- logo ap -->
        <div class="logoAP">
            <img src="https://raw.githubusercontent.com/PaulaLemStaFe/PortfolioWebFullStack/master/02-Front-End-Angular/PortfolioWebFullStack/src/assets/img/banner/b0196c98-acb2-4613-93ed-b3780ab075d9.jpg" alt="Argentina Programa #YoProgramo">
        </div>
        <!-- navbar
        <div class="nav">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio" alt="Inicio" title="Inicio"><i
                            class="bi bi-house-door"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#h_trabajo" alt="Experiencias" title="Experiencias"><i
                            class="bi bi-briefcase"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#h_certificados" alt="Certificados" title="Certificados"><i
                            class="bi bi-award"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#conocimientos-section" alt="Conocimientos Informáticos"
                        title="Conocimientos Informáticos"><i class="bi bi-code-slash"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#project-section" alt="Proyectos" title="Proyectos"><i
                            class="bi bi-pen"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades" alt="Habilidades" title="Habilidades"><i
                            class="bi bi-hammer"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#otros_conocimientos" alt="Aprendizajes De Vida"
                        title="Aprendizajes De Vida"><i class="bi bi-people"></i></a>
                </li>
            </ul>
        </div> -->
    </aside>
    <!-- boton login -->
    <div class="botonlogin">
        <a class="logout" id="logoin" href="http://localhost:4200/home" title="Salir"><input type="submit" value="SALIR"></a>
    </div>
</header>
