/* ------ SECTION'S ------ */
section {
    align-items: center;
    background: url(https://raw.githubusercontent.com/PaulaLemStaFe/PortfolioWebFullStack/master/02-Front-End-Angular/PortfolioWebFullStack/src/assets/img/grain.png) repeat;
    display: flex;
    width: 100%;
}

/* ------ BANNER AND PROFILE SECTION ------ */
.inforpersonal-quiensoy {
    z-index: 999;
}

.bi-pencil-fill{
    font-size: 1rem !important;
    margin-left: 0.5rem;
    margin-right: 2rem;
}

.secbanneryperfil {
    align-items: center;
    background: no-repeat left/cover url(https://raw.githubusercontent.com/PaulaLemStaFe/PortfolioWebFullStack/master/02-Front-End-Angular/PortfolioWebFullStack/src/assets/img/banner/lenguajes.png);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-radius: 10%;
    border-top: 0px;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    display: flex;
    height: 300px;
    margin-left: 0px;
    margin-top: 70px;
    min-width: 120px;
    opacity: 0.8;
    padding-top: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

/* ------ PROFILE PICTURE ------ */
.fotoperfil {
    align-self: flex-end;
    height: 100%;
    margin: 0px 0px 0px 0px;
    width: 25%;
}

.fotoperfil img {
    align-self: flex-end;
    background-position: right;
    border-color: #5c5b5b;
    border-radius: 100%;
    box-shadow: 10px 18px 20px -10px #7c7b7b;
    display: flex;
    margin: 18px;
    width: 75%;
}

/* ------ TITTLE'S BANNER ------ */
#infopersonal {
    font-size: 1.5em;
    font-style: italic;
    margin: 0px 0px 0px 0px;
    margin-left: 20px;
    text-align: left;
    text-shadow: #525151 0 0 .05em;
    width: 75%;
}

#infopersonal h1 {
    margin-top: -60px;
    padding-top: 70px;
}

#infopersonal h2 {
    margin-bottom: 0px;
    margin-left: 50px;
    margin-top: 20px;
}

/* ------ WHO I AM SECTION ------ */
.secquiensoy {
    background-color: #e6e1d0;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-radius: 10%;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    color: #383a3c;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

#quiensoy {
    margin: 5px;
}

.secquiensoy .heading {
    font-size: 1.8em;
    font-style: italic;
    margin: 0px 10px;
    text-align: center;
}

#quiensoy p {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: justify;
}



@media screen and (max-width: 960px) {
    .secbanneryperfil {
        height: 150px;
    }
    #infopersonal {
        font-size: 0.5em;
    }
    #infopersonal h1 {
        padding-top: 30px;;
    }
    #infopersonal h2 {
        margin: 0px;
    }
    #quiensoy p {
        font-size: 1em
    }
}