<!-- banner section -->
<div class="inforpersonal-quiensoy" *ngIf="persona">
    <section class="secbanneryperfil">
        <div id="infopersonal">
            <!--iria mi nombre y profesion la puedo poner sobre el banner o debajo del mismo-->
            <h1 id="inicio"><strong><i>{{persona.namePersona}} </i></strong> <!--<a class="icon edit btn btn-success"
                alt="Editar" title="Editar" data-placement="top" data-toogle="tooltip" data-original-title="Edit">
                    <i class="bi bi-pencil-fill"></i>
                </a>-->
            </h1>
            <h2><strong><i>{{persona.titlePersona}} </i></strong> <!--<a class="icon edit btn btn-success"
                alt="Editar" title="Editar" data-placement="top" data-toogle="tooltip" data-original-title="Edit">
                    <i class="bi bi-pencil-fill"></i>
                </a>-->
            </h2>
        </div>
        <div class="fotoperfil">
            <!--imagen circularubicada en la esquina inferior izquierda del banner-->
            <img [src]="persona.imgprofilePersona" alt="María Paula Lemos" title="María Paula Lemos" align="right">
        </div>
        <!--<a class="icon edit btn btn-success" alt="Editar" title="Editar"
        data-placement="top" data-toggle="tooltip" data-original-title="Edit">
            <i class="bi bi-pencil-fill"></i>
        </a>-->
    </section>
    <section class="secquiensoy">
        <!--parrafo o texto describiendo un poco de mi que iría en la parte del cuerpo de la pagina-->
        <div id="quiensoy">
            <h2 class="heading"><strong><i>¿Quién Soy?</i></strong></h2>
            <br>
            <p class="sobre_mi_text">{{persona.text01Persona}} <!--<a class="icon edit btn btn-success"
                alt="Editar" title="Editar" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                <i class="bi bi-pencil-fill"></i>
                </a>-->
                <br>
                <br>{{persona.text02Persona}} <!--<a class="icon edit btn btn-success"
                alt="Editar" title="Editar" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                    <i class="bi bi-pencil-fill"></i>
                </a>-->
                <br>
                <br>{{persona.text03Persona}} <!--<a class="icon edit btn btn-success"
                alt="Editar" title="Editar" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                    <i class="bi bi-pencil-fill"></i>
                </a>-->
            </p>
        </div>
    </section>
</div>