<!------ SOCIAL SECTION ------>
<footer class="redes_sociales">
    <!-- redes -->
    <div id="redessociales">
        <!--las redes sociales de contacto como linkedin y github con el icono de la misma-->
        <nav class="navredes">
            <div class="derechos">
                <p>Desarrollado Por María Paula Lemos | 2022</p>
            </div>
            <hr>
            <ul>
                <li class="linkedin">
                    <!-- Logo de LinkedIn -->
                    <a href="https://www.linkedin.com/in/paula-lemos-desarrollo-web/" target="_blank"
                        rel="noreferrer noopener"><i class="bi bi-linkedin"></i></a>
                </li>
                <li class="github">
                    <!-- logo de GitHub -->
                    <a href="https://github.com/PaulaLemStaFe" target="_blank" rel="noreferrer noopener"><i
                            class="bi-github" role="img" aria-label="GitHub"></i></a>
                </li>
                <li>
                    <!-- logo de Telegram -->
                    <a href="https://t.me/Paula_Lemos_Sta_Fe" target="_blank" rel="noreferrer noopener"><i
                            class="bi bi-telegram"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>